.fs0 { font-size: 0pt; }
.fs1 { font-size: 1pt; }
.fs2 { font-size: 2pt; }
.fs3 { font-size: 3pt; }
.fs4 { font-size: 4pt; }
.fs5 { font-size: 5pt; }
.fs6 { font-size: 6pt; }
.fs7 { font-size: 7pt; }
.fs8 { font-size: 8pt; }
.fs9 { font-size: 9pt; }
.fs10 { font-size: 10pt; }
.fs11 { font-size: 11pt; }
.fs12 { font-size: 12pt; }
.fs13 { font-size: 13pt; }
.fs14 { font-size: 14pt; }
.fs15 { font-size: 15pt; }
.fs16 { font-size: 16pt; }
.fs17 { font-size: 17pt; }
.fs18 { font-size: 18pt; }
.fs19 { font-size: 19pt; }
.fs20 { font-size: 20pt; }
.fs21 { font-size: 21pt; }
.fs22 { font-size: 22pt; }
.fs23 { font-size: 23pt; }
.fs24 { font-size: 24pt; }
.fs25 { font-size: 25pt; }
.fs26 { font-size: 26pt; }
.fs27 { font-size: 27pt; }
.fs28 { font-size: 28pt; }
.fs29 { font-size: 29pt; }
.fs30 { font-size: 30pt; }
.fs31 { font-size: 31pt; }
.fs32 { font-size: 32pt; }
.fs33 { font-size: 33pt; }
.fs34 { font-size: 34pt; }
.fs35 { font-size: 35pt; }
.fs36 { font-size: 36pt; }
.fs37 { font-size: 37pt; }
.fs38 { font-size: 38pt; }
.fs39 { font-size: 39pt; }
.fs40 { font-size: 40pt; }
.fs41 { font-size: 41pt; }
.fs42 { font-size: 42pt; }
.fs43 { font-size: 43pt; }
.fs44 { font-size: 44pt; }
.fs45 { font-size: 45pt; }
.fs46 { font-size: 46pt; }
.fs47 { font-size: 47pt; }
.fs48 { font-size: 48pt; }
.fs49 { font-size: 49pt; }
.fs50 { font-size: 50pt; }
.fs51 { font-size: 51pt; }
.fs52 { font-size: 52pt; }
.fs53 { font-size: 53pt; }
.fs54 { font-size: 54pt; }
.fs55 { font-size: 55pt; }
.fs56 { font-size: 56pt; }
.fs57 { font-size: 57pt; }
.fs58 { font-size: 58pt; }
.fs59 { font-size: 59pt; }
.fs60 { font-size: 60pt; }
.fs61 { font-size: 61pt; }
.fs62 { font-size: 62pt; }
.fs63 { font-size: 63pt; }
.fs64 { font-size: 64pt; }
.fs65 { font-size: 65pt; }
.fs66 { font-size: 66pt; }
.fs67 { font-size: 67pt; }
.fs68 { font-size: 68pt; }
.fs69 { font-size: 69pt; }
.fs70 { font-size: 70pt; }
.fs71 { font-size: 71pt; }
.fs72 { font-size: 72pt; }
.fs73 { font-size: 73pt; }
.fs74 { font-size: 74pt; }
.fs75 { font-size: 75pt; }
.fs76 { font-size: 76pt; }
.fs77 { font-size: 77pt; }
.fs78 { font-size: 78pt; }
.fs79 { font-size: 79pt; }
.fs80 { font-size: 80pt; }
.fs81 { font-size: 81pt; }
.fs82 { font-size: 82pt; }
.fs83 { font-size: 83pt; }
.fs84 { font-size: 84pt; }
.fs85 { font-size: 85pt; }
.fs86 { font-size: 86pt; }
.fs87 { font-size: 87pt; }
.fs88 { font-size: 88pt; }
.fs89 { font-size: 89pt; }
.fs90 { font-size: 90pt; }
.fs91 { font-size: 91pt; }
.fs92 { font-size: 92pt; }
.fs93 { font-size: 93pt; }
.fs94 { font-size: 94pt; }
.fs95 { font-size: 95pt; }
.fs96 { font-size: 96pt; }
.fs97 { font-size: 97pt; }
.fs98 { font-size: 98pt; }
.fs99 { font-size: 99pt; }
.fs100 { font-size: 100pt; }